<div class="modal-over bg-black" ng-controller="PageLockController">
  <div class="modal-center animated fadeInUp text-center" style="width:200px;margin:-100px 0 0 -100px;">
    <div class="thumb-lg">
      <img src="img/BigB.png" >
    </div>
    <p class="h4 m-t m-b">Name</p>
    <div class="input-group">
      <input type="password" ng-model="userpasscode" class="form-control text-sm btn-rounded no-border" placeholder="Enter pwd to continue">
      <span ng-click="userAuthenticate(userpasscode);" class="input-group-btn">
        <button  class="btn btn-success btn-rounded no-border"><i class="fa fa-arrow-right"></i></button>
      </span>

    </div>
    <p class="text-danger" ng-show="authError">{{authError}}</p>
  </div>
</div>